.venv/
_site/
.quarto/
*_cache/
.ipynb_checkpoints/
d2l/uploads/
d2l/downloads/
shared/**
!shared/.keep
.DS_Store
downloads/**/.venv/
downloads/**/*.html
downloads/**/_site/
downloads/**/downloads/


/.quarto/
**/*.quarto_ipynb
